{% extends "gensurvapp/base.html" %}
{% block title %}
Research{% endblock %}

{% block content %}

<div class="container-fluid">
    <!-- Page Header -->
    <div class="mb-5">
        <h1 id="research" class="text-center">Research</h1>
        <p class="lead">Learn more about our scientific publications and related work in the field.</p>
    </div>

    <!-- Publications -->
    <div class="card mb-4">
        <div id="pub" class="card-header">Our Publications</div>
        <div class="card-body">
            <ul>
                <li>
                <p>
                    Willmann, M., Bezdan, D., Zapata, L., Susak, H., Vogel, W., Schröppel, K., Liese, J., Weidenmaier, C., Autenrieth, I. B., Ossowski, S., & Peter, S. (2015b). Analysis of a long-term outbreak of XDR Pseudomonas aeruginosa: a molecular epidemiological study. Journal of Antimicrobial Chemotherapy, 70(5), 1322–1330. 
                    <a href="https://doi.org/10.1093/jac/dku546" target="_blank">https://doi.org/10.1093/jac/dku546</a>
                </p>
                </li>
                <li>
<p>
    Peter, S., Bosio, M., Gross, C., Bezdan, D., Gutierrez, J., Oberhettinger, P., Liese, J., Vogel, W., Dörfel, D., Berger, L., Marschal, M., Willmann, M., Gut, I., Gut, M., Autenrieth, I., & Ossowski, S. (2020). Tracking of antibiotic resistance transfer and rapid plasmid evolution in a hospital setting by nanopore sequencing. mSphere, 5(4). 
    <a href="https://doi.org/10.1128/msphere.00525-20" target="_blank">https://doi.org/10.1128/msphere.00525-20</a>
</p>

                </li>
                <li>
<p>
    Peter, S., Bezdan, D., Oberhettinger, P., Vogel, W., Dörfel, D., Dick, J., Marschal, M., Liese, J., Weidenmaier, C., Autenrieth, I., Ossowski, S., & Willmann, M. (2018). Whole-genome sequencing enabling the detection of a colistin-resistant hypermutating Citrobacter werkmanii strain harbouring a novel metallo-β-lactamase VIM-48. International Journal of Antimicrobial Agents, 51(6), 867–874. 
    <a href="https://doi.org/10.1016/j.ijantimicag.2018.01.015" target="_blank">https://doi.org/10.1016/j.ijantimicag.2018.01.015</a>
</p>
                </li>
                <li>
<p>
    Oberhettinger, P., Schüle, L., Marschal, M., Bezdan, D., Ossowski, S., Dörfel, D., Vogel, W., Rossen, J. W., Willmann, M., & Peter, S. (2020). Description of Citrobacter cronae sp. nov., isolated from human rectal swabs and stool samples. INTERNATIONAL JOURNAL OF SYSTEMATIC AND EVOLUTIONARY MICROBIOLOGY, 70(5), 2998–3003. 
    <a href="https://doi.org/10.1099/ijsem.0.004100" target="_blank">https://doi.org/10.1099/ijsem.0.004100</a>
</p>
                </li>
                <li>
<p>
    Danko, D., Bezdan, D., Afshin, E. E., Ahsanuddin, S., Bhattacharya, C., Butler, D. J., Chng, K. R., Donnellan, D., Hecht, J., Jackson, K., Kuchin, K., Karasikov, M., Lyons, A., Mak, L., Meleshko, D., Mustafa, H., Mutai, B., Neches, R. Y., Ng, A., . . . Zubenko, S. (2021). A global metagenomic map of urban microbiomes and antimicrobial resistance. Cell, 184(13), 3376-3393.e17. 
    <a href="https://doi.org/10.1016/j.cell.2021.05.002" target="_blank">https://doi.org/10.1016/j.cell.2021.05.002</a>
</p>
                </li>
                <li>
<p>
    Danko, D., Bezdan, D., Afshin, E. E., Ahsanuddin, S., Bhattacharya, C., Butler, D. J., Chng, K. R., Donnellan, D., Hecht, J., Jackson, K., Kuchin, K., Karasikov, M., Lyons, A., Mak, L., Meleshko, D., Mustafa, H., Mutai, B., Neches, R. Y., Ng, A., . . . Zubenko, S. (2021). A global metagenomic map of urban microbiomes and antimicrobial resistance. Cell, 184(13), 3376-3393.e17. 
    <a href="https://doi.org/10.1016/j.cell.2021.05.002" target="_blank">https://doi.org/10.1016/j.cell.2021.05.002</a>
</p>
                </li>
            </ul>
        </div>
    </div>

    <!-- Recent Papers -->
    <div class="card mb-4">
        <div id="rela" class="card-header">Related Publications</div>
        <div class="card-body">
<ul>
    <li>
        <p>
            Castañeda-Barba, S., Top, E. M., & Stalder, T. (2023). Plasmids, a molecular cornerstone of antimicrobial resistance in the One Health era. 
            <em>Nature Reviews Microbiology, 22</em>(1), 18–32. 
            <a href="https://doi.org/10.1038/s41579-023-00926-x" target="_blank">https://doi.org/10.1038/s41579-023-00926-x</a>
        </p>
    </li>
    <li>
        <p>
            Khezri, A., Avershina, E., & Ahmad, R. (2020). Plasmid identification and Plasmid-Mediated Antimicrobial gene detection in Norwegian isolates. 
            <em>Microorganisms, 9</em>(1), 52. 
            <a href="https://doi.org/10.3390/microorganisms9010052" target="_blank">https://doi.org/10.3390/microorganisms9010052</a>
        </p>
    </li>
    <li>
        <p>
            Obenhuber, T., Scheier, T., Stutz, T., Hug, M., Fontein, D., Kaiser, A., Schoene, S., Steiger, P., Brugger, S., Zingg, W., & Schreiber, P. (2024). 
            An outbreak of multi-drug-resistant Acinetobacter baumannii on a burns ICU and its control with multi-faceted containment measures. 
            <em>Journal of Hospital Infection, 146</em>, 102–108. 
            <a href="https://doi.org/10.1016/j.jhin.2024.01.002" target="_blank">https://doi.org/10.1016/j.jhin.2024.01.002</a>
        </p>
    </li>
</ul>

        </div>
    </div>

{% endblock %}
