.git
.token
token
backend/gensurv_project/settings.py
*.pyc
__pycache__/
db.sqlite3
frontend/node_modules/.vite/
/media/
#/staticfiles/
/.env
*.env
.env.*
venv/
.venv/
*.log
*.sqlite3
*.DS_Store
*.egg-info
.idea/
.vscode/
.media/
.data/
./bulk_upload.log
DBBACKUP_STORAGE/
postgres_setup.txt
postgres_*
