.git
.token
token
*.pyc
__pycache__/
db.sqlite3
/media/
#/staticfiles/
/.env
*.env
.env.*
venv/
.venv/
*.log
*.sqlite3
*.DS_Store
*.egg-info
.idea/
.vscode/
.media/
.data/
./bulk_upload.log
./gensurv_project/settings*.py
*.submissions
./runtime/media/submissions
backend/runtime/media/submissions/
backend/runtime/media/uploads/submissions/
backend/runtime/media/**/submissions/
*.fastq.gz
backend